<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541418061981-8daed5m5tcnj2net0b2bejo8jec24jls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541418061981-8daed5m5tcnj2net0b2bejo8jec24jls</string>
	<key>API_KEY</key>
	<string>AIzaSyAA9Djo4Em77gsPXgiFqoiKUkX15yr-Wpo</string>
	<key>GCM_SENDER_ID</key>
	<string>541418061981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-3aa9a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-3aa9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541418061981:ios:77a91122561ff2c74dd474</string>
</dict>
</plist>